.de_container {
    margin-top: 20px;
}
.crumb_wrap a {
    margin: 0 10px;

}
.crumb_wrap {
    height: 25px;
}
.perview_wrap {
    width: 400px;
    height: 590px;
    
}
.iteminfo_intro {
    width: 718px;
    height: 590px;
    
}
.preview_img {
    position: relative;
    height: 398px;
    border: 1px solid #ccc;
}
.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #FEDE4F;
    opacity: .3;
    border: 1px solid #ccc;
    cursor: move;
}
.big {
    display: none;
    position: absolute;
    overflow: hidden;
    left: 410px;
    top: 0;
    z-index: 999;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;

}
.big img {
    position: absolute;
    top: 0;
    left: 0;
}
.preview_list {
    position: relative;
    margin-top: 60px;
    height: 60px;
    
}
.list_item {
    width: 320px;
    height: 60px;
    margin: 0 auto;
    
}
.list_item li {
    float: left;
    height: 56px;
    width: 56px;
    margin: 0 2px;
    border: 2px solid transparent;
    transition: all 1s;
}
.list_item li:hover {
    border: 2px solid red;
}
.list_item .current {
    border: 2px solid red;
}
.arrow_prev,
.arrow_next {
    position: absolute;
    display: block;
    width: 22px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    
    background: url(../img/arrow-prev.png) no-repeat;
}
.arrow_next {
    right: 0;
    background: url(../img/arrow-next.png) no-repeat;
}
.sku_name {
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}
.news {
    height: 32px;
}
.summary dl {
    overflow: hidden;
}
.summary dt,
.summary dd {
    float: left;
}
.summary dt {
    width: 60px;
    line-height: 36px;
    padding-left: 10px;
}
.summary_price,
.summary_promotion {
    position: relative;
    padding: 10px 0;
    background-color: rgb(243, 243, 243);
}
.price {
    font-size: 24px;
    color: #e12228;
}
.summary_price a {
    color: #e12228;
}
.remark {
    position: absolute;
    float: right;
    top: 20px;
    right: 10px;
}
.summary_promotion {
    padding-top: 0;
}
.summary_promotion dd {
    width: 450px;
}
.summary_promotion span {
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    background-color: #e12228;
    color: white;
    text-align: center;
}
.summary_support dd {
    line-height: 36px;
}
.choose_color a {
    display: inline-block;
    width: 80px;
    height: 41px;
    line-height: 41px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
}
.choose_color .current {
    border-color: #c86213;
}
.choose_version {
    margin: 10px 0;
}
.choose_version a {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    height: 41px;
    line-height: 41px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    text-align: center;
}
.choose_version .current {
    border-color: #c86213;
}
.choose_btns {
    margin-top: 20px;
}
.choose_amount {
    position: relative;
    float: left;
    width: 50px;
    height: 46px;
    
    border: 1px solid #ccc;
}
.add_cart {
    float: left;
    margin-left: 10px;
    width: 142px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: #c81623;
}
.choose_amount input {
    width: 35px;
    height: 43px;
    
}
.choose_amount input:hover {
    cursor: not-allowed;
}
.add,
.reduce {
    position: absolute;
    width: 15px;
    right: 0;
    height: 24px;
    line-height: 22px;
    text-align: center;
    background-color: #f1f1f1;
}
.reduce {
    bottom: 0;
    right: 0;
    
}
/* 产品详情 */
.aside {
    width: 208px;
}
.detail {
    width: 978px;
}
.tab_list {
    height: 34px;
    
}
.tab_list li {
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}
.first_tab {
    width: 104px;
}
.second_tab {
    width: 103px;
    border-left: 1px solid #ccc;
}
.tab_list .current {
    background-color: #fff;
    color: #c81623;
    border-bottom: none;
}
.tab_con {
    padding: 0 10px;
}
.tab_con li {
    border-bottom: 1px solid #ccc;
}
.tab_con li h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
}
.aside_price {
    font-weight: 7000;
    margin: 10px 0;
}
.as_addcart {
    display: block;
    height: 26px;
    line-height: 26px;
    width: 88px;
    border: 1px solid #ccc;
    margin: 10px auto;
    background-color: #f7f7f7;
    text-align: center;
}
.detail_tab_list {
    height: 39px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.detail_tab_list li {
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
}
.detail_tab_list .current {
    background-color: #c81623;
    color: white;
}
.item_info {
    padding: 20px 0 0 20px;
}
.item_info li {
    line-height: 22px;
}
.more {
    font-weight: 700;
}
.product_detail {
    margin-bottom: 50px;
}