.main {
    margin: 10px  0 0 219px;
    width: 980px;
    height: 455px;
    
}
.focus {
    position: relative;
    float: left;
    width: 720px;
    height: 455px;
    overflow: hidden;
    background-color: purple;
}
.focus ul {
    position: absolute;
    width: 3700px;
}
.focus li {
    float: left;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
    
}
.arrow_l,
.arrow_r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    text-align: center;
    font-size: 18px;
    z-index: 10;
}
.arrow_r {
    right: 0;
}
.circle li {
    float: left;
    width: 8px;
    margin: 0 5px;
    height: 8px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}
.circle .current {
    background-color: #fff;
}
.circle li:hover {
    cursor: pointer;
    background-color: #fff;
}
.circle {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.news {
    height: 163px;
    border:1px solid #ccc;
    
}

.bargain {
    height: 75px;
    margin-top: 5px;
    overflow: hidden;
}
.news_hd {
    
    padding-left: 15px;
    height: 32px;
    line-height: 32px;
    border: 1px dotted #ccc;
}
.news_hd a {
    float: right;
    padding-right: 15px;
    font-size: 12px;
}
.news_bd {
    height: 75px;
    width: 100%;
    margin-top: 5px;
}
.news_bd li {
    
    width: 100%;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.news_bd li a {
    padding: 0 5px;
}
.lifeservice {
    height: 208px;
    border:1px solid #ccc;
    border-top: none;
    
    overflow: hidden;
}
.lifeservice ul {
    width: 252px;
    
}
.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li a {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.lifeservice li p {
    text-align: center;
    color: black;
}
.service_ico {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto;
    background: url(../img/icons.png) no-repeat -17px -16px;
}
.hot {
    position: absolute;
    line-height: 15px;
    height: 15px;
    top: 0;
    right: 0;
    background-color: #b1191a;
    color: white;
}
/* recommend */
.recommend {
    margin-top: 10px;
    height: 163px;
    
}
.recommend_hd {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: #5c5251;
}
.recommend_hd img {
    
    margin: 30px 0 10px 0;
}
.recommend_hd h3 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.recommend_bd {
    float: left;
    width: 1000px;
    height: 100%;
    background-color: #ebebeb;
}
.recommend_bd li {
    float: left;
    width: 249px;
    height: 145px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
    
}
.recommend_last {
    border-right: none!important;
}
/* floor */
.box_hd {
    height: 30px;
    
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    font-size: 18px;
    color: #c81623;
}
.tab_list {
    line-height: 30px;
}
.tab_list li {
    float: left;
}
.tab_list li a {
    padding: 0 15px;
}
.box_bd {
    height: 360px;
    
}
.tab_item {
    height: 360px;
}
.tab_item li {
    float: left;
}
.w209 {
    width: 209px;
}
.w329 {
    width: 329px;
}
.w219 {
    width: 219px;
}
.tab_item_list li {
    width: 86px;
    height: 32px;
    margin-left: 10px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}
/* fixedtool */
.fixedtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -676px;
    background-color: #fff;
    width: 66px;
    
}
.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    transition: background-color 1s ease 0s;
}
.fixedtool .current {
    background-color: #c81623;
    color: white;
}
.fixedtool li:hover {
    background-color: #c81623;
    color: white;
    cursor: pointer;
    
}